# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Describe the components of a Data Scientist's toolkit and list various tool categories.
- Identify the criteria and roles for determining the language to learn.
- List examples of the various libraries: scientific, visualization, machine learning, and deep learning.
- Describe how to use the notebooks in JupyterLab.
- Describe R capabilities and RStudio environment.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. ...

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Pandas
3. Matplotlib
4. Keras
5. ...

| Data Science Tools |
| :---: |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Ana González Muñiz